@model IEnumerable<TablasDeMultiplicar.Models.EjerciciosModel>

@{
    ViewData["Title"] = "Ejercicios Fáciles para practicar";
}

    <div class="mb-md-3 d-none d-md-block">
        @*<h2>Practica las tablas de multiplicar</h2>*@
        <h3>Introduce el resultado correcto</h3>
        <h5>Si te equivocas no pasa nada, vuelve a intentarlo</h5>
    </div>


<div style="text-align:center" class="mx-auto">

    @foreach (var item in Model)
    {

        <div class="row p-1 pb-1 mb-2 border">

            <div class="col-3 col-sm-2 col-md-2 multiplicacion p-1" result="@item.Result" style="text-align:right">
                <spam style="font-weight:700">
                    @Html.DisplayFor(modelItem => item.M1) X  @Html.DisplayFor(modelItem => item.M2)
                </spam>
            </div>

            <div class="col-4 col-sm-4 col-md-2 p1">
                <input type="number" class="resultado form-control">

            </div>

            <div class="col-5 col-sm-5 col-md-3 viewresult" style="text-align:left">

            </div>
        </div>
    }

</div>

<button type="button" class="btn btn-info reload" style="margin-left:-15px">Empezar de nuevo</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><img class='img-fluid' style='max-height:32px' src='/images/happy.png' /> Muy Bien !!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Has Acabado los ejercicios y los has hecho todos bien !!!
            </div>
            <div class="modal-footer">

                <a class="btn btn-secondary" asp-controller="Tablas" asp-action="Index">Ir a ver las Tablas</a>
                <button type="button" class="btn btn-primary reload">Volver a Jugar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var contador = 0;
        var totalEjercicios = $('.multiplicacion').length;

        $(document).ready(function () {

            $(':input:enabled:visible:first').focus();


            $(".resultado").keyup(function () {
                var result = $(this).closest(".row").find(".multiplicacion").attr("result").trim();
                var resultadoIntroducido = $(this).val().trim();
                var viewresult = $(this).closest(".row").find(".viewresult")

                viewresult.hide();

                if (resultadoIntroducido === "") {
                    return;
                }

                if (resultadoIntroducido.length < result.length) {
                    return;
                }

                if (resultadoIntroducido === result) {

                    viewresult.empty().text("Bien! ").append("<img class='img-fluid' style='max-height:32px' src='/images/happy.png'/>");
                    viewresult.fadeIn("slow");
                    contador++;
                    if (contador == totalEjercicios) {
                        $('#exampleModalCenter').modal();
                        return;
                    }

                    var nextInput = $('.resultado').index(this) + 1;
                    $('.resultado')[nextInput].focus()
                }
                else {
                    viewresult.empty().text("Ohhh! ").append("<img class='img-fluid' style='max-height:32px' src='/images/confused.png'/>")
                    viewresult.fadeIn("slow");
                }

            });
        });

         $('.reload').click(function() {  
             location.reload();  
             $(':input:enabled:visible:first').focus();
            });  

    </script>
}
